In [1]:
import pandas as pd

In [43]:
df = pd.read_csv('sample_data.csv')
df = df.drop(columns=['Relay?'])
df = df.drop(columns=['Team'])
df = df.drop(columns=['Gender'])
df = df.drop(columns=['Year'])
df['Results'] = df['Results'] - 3.8
df['Results'] = df['Results'].round(3)
df['Athlete'] = '林姵彣'
df.rename(columns={'Distance (in meters)': 'Distance (m)'}, inplace=True)
df

  Location Distance (m)     Stroke Athlete  Results  Rank  Event
0      Rio          50m  Freestyle     林姵彣   27.111     4  Swim0
1   London          50m  Freestyle     林姵彣   27.165     4  Swim1
2      Rio          50m  Freestyle     林姵彣   27.108     3  Swim2
3      Rio          50m  Freestyle     林姵彣   27.200     4  Swim3
4    Tokyo          50m  Freestyle     林姵彣   26.710     4  Swim4
5    Tokyo          50m  Freestyle     林姵彣   26.705     3  Swim5
6   London          50m  Freestyle     林姵彣   26.738     4  Swim6
7   London          50m  Freestyle     林姵彣   26.744     4  Swim7
8      Rio          50m  Freestyle     林姵彣   26.786     4  Swim8
9   London          50m  Freestyle     林姵彣   26.700     2  Swim9

In [40]:
import pandas as pd
import numpy as np

# 设置随机种子以确保结果的可复现性
np.random.seed(42)

# 创建日期范围
dates = pd.date_range(start="2021-01-01", periods=10, freq='M')

# 生成数据
data = {
    "Height (cm)": [174] * 10, 
    "Weight (kg)": [61.0] * 10,    
    "Trainging hours": np.random.normal(3, 0.25, 10).round(2),  # 训练时间假设平均4小时，标准差1小时
    "Calories (kcal)": np.random.normal(2500, 500, 10).round(2),  # 日均卡路里摄入2500千卡，标准差500千卡
    "Dates": dates,
}

# 转换为DataFrame
athlete_data = pd.DataFrame(data)

athlete_data['Weight (kg)'] += np.random.uniform(-1, 1, size=len(df))
athlete_data['Weight (kg)'] = athlete_data['Weight (kg)'].round(2)

# 显示生成的数据
athlete_data

/var/folders/38/1tx9b7sn70xck3_kfmth5qyr0000gn/T/ipykernel_4650/2951165012.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(start="2021-01-01", periods=10, freq='M')

   Height (cm)  Weight (kg)  Trainging hours  Calories (kcal)      Dates
0          174        60.91             3.12          2268.29 2021-01-31
1          174        61.57             2.97          2267.14 2021-02-28
2          174        60.40             3.16          2620.98 2021-03-31
3          174        61.03             3.38          1543.36 2021-04-30
4          174        61.18             2.94          1637.54 2021-05-31
5          174        60.09             2.94          2218.86 2021-06-30
6          174        61.22             3.39          1993.58 2021-07-31
7          174        60.34             3.19          2657.12 2021-08-31
8          174        60.13             2.88          2045.99 2021-09-30
9          174        61.90             3.14          1793.85 2021-10-31

In [46]:
# 横向拼接
data = pd.concat([athlete_data, df], axis=1)

In [55]:
# 指定新的列顺序
new_order = [
    "Athlete",
    "Height (cm)", "Weight (kg)",
    "Trainging hours", "Calories (kcal)",
    "Event", "Dates", "Location", "Distance (m)", "Stroke", "Results"
]

# 重新索引DataFrame以改变列的顺序
data = data[new_order]

# 为了可复现性设置随机种子
np.random.seed(6)

# 随机分配新的地点
new_locations = np.random.choice(['Tainan', 'Taichung', 'Taipei'], size=len(data), replace=True)
data['Location'] = new_locations

data.to_csv('sample_data2.csv', index=False)
data

,Athlete,Height (cm),Weight (kg),Trainging hours,Calories (kcal),Event,Dates,Location,Distance (m),Stroke,Results
0,林姵彣,174,60.91,3.12,2268.29,Swim0,2021-01-31,Taipei,50m,Freestyle,27.111
1,林姵彣,174,61.57,2.97,2267.14,Swim1,2021-02-28,Taichung,50m,Freestyle,27.165
2,林姵彣,174,60.40,3.16,2620.98,Swim2,2021-03-31,Tainan,50m,Freestyle,27.108
3,林姵彣,174,61.03,3.38,1543.36,Swim3,2021-04-30,Taipei,50m,Freestyle,27.200
4,林姵彣,174,61.18,2.94,1637.54,Swim4,2021-05-31,Taichung,50m,Freestyle,26.710
5,林姵彣,174,60.09,2.94,2218.86,Swim5,2021-06-30,Taipei,50m,Freestyle,26.705
6,林姵彣,174,61.22,3.39,1993.58,Swim6,2021-07-31,Tainan,50m,Freestyle,26.738
7,林姵彣,174,60.34,3.19,2657.12,Swim7,2021-08-31,Taipei,50m,Freestyle,26.744
8,林姵彣,174,60.13,2.88,2045.99,Swim8,2021-09-30,Taichung,50m,Freestyle,26.786
9,林姵彣,174,61.90,3.14,1793.85,Swim9,2021-10-31,Taichung,50m,Freestyle,26.700